In [2]:
import pandas as pd
from sklearn.metrics import mean_squared_error

In [5]:
ser_true_value = pd.Series([1,2,3,4,5,6,7,8])
ser_pred_value = pd.Series([2,1,4,3,2,5,7,6])

In [6]:
mean_squared_error(y_true = ser_true_value,
                  y_pred = ser_pred_value)

2.25

In [7]:
mean_squared_error(y_true = ser_true_value,
                  y_pred = ser_pred_value) ** 0.5   #RMSE

1.5

In [8]:
from sklearn.model_selection import train_test_split

In [10]:
bike = pd.read_csv("DS_lv1/bike.csv")
bike.head(1)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16

In [13]:
bike_train, bike_test = train_test_split(bike, train_size = 0.7)  # train 70%
print(len(bike_train))
print(len(bike_test))

7620
3266

In [12]:
bike_train, bike_test = train_test_split(bike, train_size = 0.3)  # train 30%
print(len(bike_train))
print(len(bike_test))

3265
7621

In [22]:
bike_train, bike_test = train_test_split(bike, train_size = 0.7,
                                        random_state = 123)  # 샘플링 결과 고정
bike_train.head(1)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
4046,2011-09-19 15:00:00,3,0,1,2,24.6,30.305,60,15.0013,44,143,187

In [15]:
bike_train = bike_train.reset_index(drop = True)

In [16]:
bike_train

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-09-19 15:00:00,3,0,1,2,24.60,30.305,60,15.0013,44,143,187
1,2012-09-09 07:00:00,3,0,0,1,22.14,25.760,73,11.0014,20,50,70
2,2012-03-04 07:00:00,1,0,0,2,12.30,13.635,52,19.9995,2,21,23
3,2012-02-09 09:00:00,1,0,1,1,8.20,9.850,59,15.0013,9,229,238
4,2012-03-17 07:00:00,1,0,0,2,16.40,20.455,100,8.9981,29,57,86
...,...,...,...,...,...,...,...,...,...,...,...,...
7615,2012-10-12 02:00:00,4,0,1,1,16.40,20.455,66,6.0032,0,16,16
7616,2012-06-03 20:00:00,2,0,0,1,27.06,31.060,39,12.9980,84,230,314
7617,2011-12-11 12:00:00,4,0,0,1,10.66,15.150,35,0.0000,42,246,288
7618,2011-04-01 23:00:00,2,0,1,1,12.30,15.910,61,6.0032,12,41,53
7619,2011-08-19 04:00:00,3,0,1,1,26.24,28.790,83,0.0000,1,7,8

In [27]:
iris = pd.read_excel("DS_lv1/iris_xlsx.xlsx")
iris.head(1)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa

In [28]:
iris_sub = iris.iloc[:2, :-1]
iris_sub.columns = ['A', 'B', 'C', 'D']
iris_sub

     A    B    C    D
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2

In [29]:
iris_sub_t = iris_sub.transpose()
iris_sub_t

     0    1
A  5.1  4.9
B  3.5  3.0
C  1.4  1.4
D  0.2  0.2

In [30]:
iris_sub_t["diff_sq"] = (iris_sub_t[0] - iris_sub_t[1]) ** 2
iris_sub_t

     0    1  diff_sq
A  5.1  4.9     0.04
B  3.5  3.0     0.25
C  1.4  1.4     0.00
D  0.2  0.2     0.00

In [31]:
iris_sub_t["diff_sq"].sum() ** 0.5

0.5385164807134502

In [32]:
from scipy.spatial.distance import euclidean

In [35]:
euclidean(iris_sub_t[0], iris_sub_t[1])

0.5385164807134502

In [36]:
iris.head(2)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

### Q1. Sepal.Length 변수를 Min-Max 정규화를 실시하여 최소값이 0, 최대값이 1인 배열로 변경하고 이를 iris 객체의 SL_MM 변수에 저장하시오

In [62]:
sl_min = min(iris["Sepal.Length"])
sl_max = max(iris["Sepal.Length"])

In [77]:
for i in range(len(iris)):
    iris["SL.MM"][i] = (iris["Sepal.Length"][i] - sl_min) / (sl_max - sl_min)
iris

# iris["SL.MM"] = (iris["Sepal.Length"] - sl_min) / (sl_max - sl_min)
# iris

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,SL.MM,PL_std
0,5.1,3.5,1.4,0.2,setosa,0.222222,-1.335752
1,4.9,3.0,1.4,0.2,setosa,0.166667,-1.335752
2,4.7,3.2,1.3,0.2,setosa,0.111111,-1.392399
3,4.6,3.1,1.5,0.2,setosa,0.083333,-1.279104
4,5.0,3.6,1.4,0.2,setosa,0.194444,-1.335752
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,0.666667,0.816859
146,6.3,2.5,5.0,1.9,virginica,0.555556,0.703564
147,6.5,3.0,5.2,2.0,virginica,0.611111,0.816859
148,6.2,3.4,5.4,2.3,virginica,0.527778,0.930154
149,5.9,3.0,5.1,1.8,virginica,0.444444,0.760211

### Q2. Petal.Length 변수를 표준화하여 iris 객체의 PL_std 변수에 저장하시오.

In [74]:
pt_mean = iris["Petal.Length"].mean()
pt_std = iris["Petal.Length"].std()
pt_std

1.7652982332594667

In [76]:
iris["PL_std"] = (iris["Petal.Length"] - pt_mean) / pt_std
iris

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,SL.MM,PL_std
0,5.1,3.5,1.4,0.2,setosa,0.222222,-1.335752
1,4.9,3.0,1.4,0.2,setosa,0.166667,-1.335752
2,4.7,3.2,1.3,0.2,setosa,0.111111,-1.392399
3,4.6,3.1,1.5,0.2,setosa,0.083333,-1.279104
4,5.0,3.6,1.4,0.2,setosa,0.194444,-1.335752
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,0.666667,0.816859
146,6.3,2.5,5.0,1.9,virginica,0.555556,0.703564
147,6.5,3.0,5.2,2.0,virginica,0.611111,0.816859
148,6.2,3.4,5.4,2.3,virginica,0.527778,0.930154
149,5.9,3.0,5.1,1.8,virginica,0.444444,0.760211

### Q3. Min-Max 정규화를 실시하는 사용자 정의 함수 nor_mm을 만드시오.
단, nor_mm() 함수의 입력은 숫자를 원소로 하는 Pandas Series 객체로 한정한다.

In [81]:
def nor_mm(ser):
    return (ser - min(ser)) / (max(ser) - min(ser))

nor_mm(iris["Petal.Length"])

0      0.067797
1      0.067797
2      0.050847
3      0.084746
4      0.067797
         ...
145    0.711864
146    0.677966
147    0.711864
148    0.745763
149    0.694915
Name: Petal.Length, Length: 150, dtype: float64

### Q4. 표준화를 실시하는 사용자 정의 함수 nor_std를 만드시오.
단 nor_std() 함수의 입력은 숫자를 원소로 하는 Pandas Series 객체로 한정한다.

In [83]:
def nor_std(ser):
    return (ser - ser.mean()) / ser.std()

nor_std(iris["Petal.Length"])

0     -1.335752
1     -1.335752
2     -1.392399
3     -1.279104
4     -1.335752
         ...
145    0.816859
146    0.703564
147    0.816859
148    0.930154
149    0.760211
Name: Petal.Length, Length: 150, dtype: float64

In [84]:
from sklearn.preprocessing import MinMaxScaler   #  업그레이드 버전(사이킷런 제공)
from sklearn.preprocessing import StandardScaler

In [87]:
model_mm = MinMaxScaler().fit(X = iris[["Sepal.Length"]])

In [88]:
nor_SL = model_mm.transform(iris[["Sepal.Length"]])
nor_SL[:5]

array([[0.22222222],
       [0.16666667],
       [0.11111111],
       [0.08333333],
       [0.19444444]])

In [89]:
print(nor_SL.min())
print(nor_SL.max())

0.0
1.0

In [90]:
SL_mm_test1 = MinMaxScaler().fit_transform(iris[["Sepal.Length"]])
SL_mm_test1[:5]
print(SL_mm_test1.min())
print(SL_mm_test1.max())

0.0
1.0

In [91]:
SL_mm_test2 = MinMaxScaler().fit_transform(iris.loc[:3, ["Sepal.Length"]])
SL_mm_test2

array([[1. ],
       [0.6],
       [0.2],
       [0. ]])

In [6]:
model_mm_test = MinMaxScaler().fit(iris[["Sepal.Length"]])
model_mm_test.transform(iris.loc[:3, ["Sepal.Length"]])

NameError: name 'MinMaxScaler' is not defined