# 다음 퀴즈를 수행하시오.

### Q1. pandas 모듈을 pd로 불러오시오.

In [1]:
import pandas as pd

### Q2. "hotel_booking_train_1m.zip"을 pandas 모듈을 활용하여 불러오고 객체 종류를 확인하시오
(단, df 객체에 저장하시오)

In [4]:
df = pd.read_csv("hotel_booking_train_1m.zip")
type(df)

pandas.core.frame.DataFrame

### Q3. 데이터가 수집된 웹 사이트\[site_name\]의 개수를 조사하시오.

In [48]:
df["site_name"].nunique()

42

### Q4. 데이터가 수집된 대륙\[posa_continent\]은 총 몇 개 인가?

In [47]:
df["posa_continent"].nunique()

5

### Q5. 유입 채널\[channel\]과 예약\[is_booking\]여부 데이터를 기반으로 표(crosstab)을 생성하시오.

In [9]:
pd.crosstab(df["channel"], df["is_booking"])

is_booking       0      1
channel
0           115153   9059
1            94389   6902
2            73920   4724
3            41934   2498
4            19034   2914
5            55890   5744
6             1540     82
7             7939    359
8             2689    243
9           508009  46798
10             168     12

### Q6. 각 검색 데이터를 유입 채널\[channel\]별 예약\[is_booking\] 비율을 계산하고 이를 cross 객체에 저장하시오.

In [78]:
# cross = df.groupby("channel")["is_booking"].sum() / sum(df["is_booking"])
# cross

cross = pd.crosstab(df["channel"], df["is_booking"],
                   normalize=0) # normalize : 정규화(0~1사이로 스케일링)
cross

is_booking         0         1
channel
0           0.927068  0.072932
1           0.931860  0.068140
2           0.939932  0.060068
3           0.943779  0.056221
4           0.867232  0.132768
5           0.906805  0.093195
6           0.949445  0.050555
7           0.956737  0.043263
8           0.917121  0.082879
9           0.915650  0.084350
10          0.933333  0.066667

---------------------------
여기부터 cross 객체를 기준으로 문제를 해결하시오.

---------------------------
### Q7. 검색당 예약비율이 가장 높은 유입 채널은 몇 번인가?

In [68]:
max(cross[1])

0.1327683615819209

In [72]:
for i in range(len(cross)):
    if (cross[1][i] == max(cross[1])):
        res = i
res

4

In [65]:
cross.loc[cross[1] == cross[1].max(), ]

is_booking         0         1
channel
4           0.867232  0.132768

### Q8. 검색당 예약 비율이 가장 높은 유입 채널의 예약 비율을 소수점 셋 째 자리까지 반올림하여 구하시오.
(정답 예시: 0.456)

In [74]:
cross[1].idxmax()

4

In [75]:
round(max(cross[1]),3)

0.133

In [ ]:
# df[몇번째 열인지][몇번째 행인지]