# 다음 퀴즈를 수행하시오.

### Q1. pandas 모듈을 pd로 불러오시오.

In [1]:
import pandas as pd

### Q2. "rating_chocobar.csv"를 pandas 모듈을 활용하여 불러오고 객체 종류를 확인하시오
(단, df 객체에 저장하시오)

In [59]:
df = pd.read_csv("DS_lv1/rating_chocobar.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Company_Maker_if_known            1795 non-null   object
 1   Specific_Bean_Origin_or_Bar_Name  1795 non-null   object
 2   REF                               1795 non-null   int64
 3   Review_Date                       1795 non-null   int64
 4   Cocoa_Percent                     1795 non-null   object
 5   Company_Location                  1795 non-null   object
 6   Rating                            1795 non-null   float64
 7   Bean_Type                         907 non-null    object
 8   Broad_Bean_Origin                 1721 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB

### Q3. df의 첫 3개 row를 출력하시오

In [52]:
df.head(3)

,Company_Maker_if_known,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,NaN,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,NaN,Togo

### Q4. df의 마지막 2개 row를 출력하시오

In [53]:
df.tail(2)

,Company_Maker_if_known,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,NaN,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,NaN,Brazil

### Q5. df의 차원을 확인하시오

In [54]:
df.shape

(1795, 9)

### Q6. df의 row 개수를 확인하시오

In [55]:
len(df)

1795

### Q7. df의 column 개수를 확인하시오

In [15]:
len(df.columns)

9

### Q8. df의 column 이름을 확인하시오

In [60]:
df.columns

Index(['Company_Maker_if_known', 'Specific_Bean_Origin_or_Bar_Name', 'REF',
       'Review_Date', 'Cocoa_Percent', 'Company_Location', 'Rating',
       'Bean_Type', 'Broad_Bean_Origin'],
      dtype='object')

### Q9. df의 첫 번째 변수 명을 "aa"로 변경하시오

In [61]:
#df = df.rename(columns={'Company_Maker_if_known':'aa'})
df = df.rename(columns={df.columns[0]:'aa'})

### Q10. df의 첫 번째, 네 번째, 열 번째 row를 추출하여 df_sub1 객체에 저장하시오

In [62]:
df_sub1 = pd.DataFrame()
#df_sub1[0] = df.loc[1]
#df_sub1[1] = df.loc[4]
#df_sub1[2] = df.loc[10]

df_sub1 = df.iloc[[0, 3, 9],]
df_sub1 = df_sub1.T
df_sub1

,aa,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Kpime,1676,2015,70%,France,2.75,NaN,Togo
1,A. Morin,Quilla,1704,2015,70%,France,3.5,NaN,Peru
2,A. Morin,Panama,1011,2013,70%,France,2.75,NaN,Panama

### Q11. df의 index 번호가 짝수인 것만 추출하여 df_sub2 객체에 저장하시오

In [63]:
j = 0
df_sub2 = pd.DataFrame()
for i in range(len(df)):
    if(i % 2 == 0):
        df_sub2[j] = df.loc[i]
    j = j+1
df_sub2 = df_sub2.T
df_sub2

df_sub2 = df.iloc[2:len(df):2, ]

<ipython-input-63-4f1e3f0f0e02>:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df_sub2[j] = df.loc[i]

,aa,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
2,A. Morin,Atsane,1676,2015,70%,France,3.0,NaN,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.5,NaN,Peru
6,A. Morin,Cuba,1315,2014,70%,France,3.5,NaN,Cuba
8,A. Morin,Puerto Cabello,1319,2014,70%,France,3.75,Criollo,Venezuela
...,...,...,...,...,...,...,...,...,...
1786,Zotter,El Ceibo Coop,879,2012,90%,Austria,3.25,NaN,Bolivia
1788,Zotter,"Kongo, Highlands",883,2012,68%,Austria,3.25,Forastero,Congo
1790,Zotter,Peru,647,2011,70%,Austria,3.75,NaN,Peru
1792,Zotter,Kerala State,749,2011,65%,Austria,3.5,Forastero,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.0,NaN,Brazil

### Q12. df_sub1과 df_sub2를 차례대로 병합하여 df_sub 객체에 저장하시오

In [64]:
df_sub = pd.concat([df_sub1, df_sub2])
df_sub

,aa,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Kpime,1676,2015,70%,France,2.75,NaN,Togo
1,A. Morin,Quilla,1704,2015,70%,France,3.5,NaN,Peru
2,A. Morin,Panama,1011,2013,70%,France,2.75,NaN,Panama
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
2,A. Morin,Atsane,1676,2015,70%,France,3.0,NaN,Togo
...,...,...,...,...,...,...,...,...,...
1786,Zotter,El Ceibo Coop,879,2012,90%,Austria,3.25,NaN,Bolivia
1788,Zotter,"Kongo, Highlands",883,2012,68%,Austria,3.25,Forastero,Congo
1790,Zotter,Peru,647,2011,70%,Austria,3.75,NaN,Peru
1792,Zotter,Kerala State,749,2011,65%,Austria,3.5,Forastero,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.0,NaN,Brazil

### Q13. df_sub를 "quiz.csv"로 저장하시오.

In [65]:
df_sub.to_csv('quiz.csv')

In [ ]:
bike.loc[bike["season"].isin([2,4])]
bike["season"] == 2